<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/layer/skin/layer.css" />

    <script>

    </script>

    <style>
        .datatable_l {
            margin-top: 11px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-dark bg-dark fixed-top bg-secondary flex-md-nowrap p-0">
        <span class="navbar-brand col-md-6 mr-0 text-left">ABPCodeGenerator</span>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登出</button>

        </form>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12 col-md-1 col-lg-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav nav-pills text-left flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.PageName == "Dashboard" ? "active" : string.Empty)" href="/Dashboard">
                                <i class="fa fa-circle-o"></i> 工作台
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.PageName == "Home" ? "active" : string.Empty)" href="/Home">
                                <i class="fa fa-circle-o"></i> 基础配置
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.PageName == "GenerateCode" ? "active" : string.Empty)" href="/GenerateCode">
                                <i class="fa fa-circle-o"></i> 生成模板
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <main role="main" class="col-sm-12 col-md-11 col-lg-11 bg-white">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
        <a href="#">
            <strong>Copyright © 2017-@DateTime.Now.ToString("yyyy") 上海微茗智能科技有限公司.</strong> All rights reserved.
        </a>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
